<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <p>
            These are favicons from around the world :)
        </p>
        <div id="gallery-container" style="display: flex; flex-wrap: wrap;">
            <%data.icons.forEach((icon, i) => {%>
                <div style="max-height: 40px; max-width: 40px; overflow:visible;" tabindex="0">
                <div class="favicon-container" tabindex="0">
                    <img src="/gallery/favicons/<%=icon.name%><%=icon.ext%>" width="36" height="36" alt="<%=icon.name%><%=icon.ext%>"></img>
                    <span class="favicon-description"><%=icon.name%><%=icon.ext%></span>
                </div>
                </div>
             <%});%>
        </div>
    </body>
</html>